* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100vw;
    background-color: #efefef;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

h1 {
    text-align: center;
    margin: 10px 0 0;
}

.btn {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.55);
}

.btn-green {
    background: rgb(0, 138, 21);
    background: linear-gradient(
        343deg,
        rgb(21, 122, 36) 0%,
        rgba(117, 255, 186, 0.9495145631067962) 100%
    );
}

.btn-green:hover {
    background: linear-gradient(
        343deg,
        rgb(31, 170, 52) 0%,
        rgba(117, 255, 186, 0.9495145631067962) 100%
    );
}

.btn-red {
    background: rgb(255, 0, 0);
    background: linear-gradient(
        343deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 138, 138, 0.9495145631067962) 100%
    );
}

.btn-red:hover {
    background: linear-gradient(
        343deg,
        rgb(255, 82, 82) 0%,
        rgba(255, 138, 138, 0.9495145631067962) 100%
    );
}

.btn-orange {
    background: rgb(255, 165, 0);
    background: linear-gradient(
        343deg,
        rgb(255, 165, 0) 0%,
        rgba(255, 211, 169, 0.95) 100%
    );
}

.btn-orange:hover {
    background: linear-gradient(
        343deg,
        rgb(255, 189, 65) 0%,
        rgba(255, 211, 169, 0.95) 100%
    );
}

.listing-box {
    width: 90vw;
    max-width: 800px;
    margin: 5px auto 10px;
}

.btn-list {
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: rgb(50, 50, 130);
    margin-bottom: 5px;
    opacity: 85%;
    border-radius: 5px;
}

.btn-list:hover {
    opacity: initial;
}

.btn-list img {
    padding: 7px;
    width:100%;
    height: 100%;
}

.modal-new {
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px auto 10px;
    max-width: 900px;
    width: 90vw;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7);
    transform: translate(-50%);
}

.modal-new label {
    align-self: center;
    display: inline-block;
    width: 30%;
}

.modal-new input {
    border-radius: 5px;
    height: 26px;
    padding-left: 4px;
    border: 2px inset rgba(0, 0, 0, 0.4);
}

.naming-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.naming-box {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.naming-box input {
    width: 155px;
}

.price-box {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price-box input {
    width: 50px;
    margin-right: 105px;
}

.modal-new .description-label {
    width: 100%;
    margin-bottom: 7px;
}

#description-input {
    height: 160px;
    resize: none;
    margin-bottom: 7px;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.modal-new .url-label {
    width: 100%;
}

.modal-new .url-input,
.modal-new .url-label {
    margin-bottom: 7px;
}

.modal-new .btn {
    margin: auto;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px;
    width: 90vw;
    max-width: 800px;
}

.sorting-box .btn {
    margin: unset;
    width: unset;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.sorting-box .btn:hover {
    color: black;
}

.sorting-box {
    display: flex;
    align-items: center;
}

.sorting-box p {
    display: inline-block;
    padding: 2px 2px 4px;
}

.db-render {
    width: 95vw;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-card {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px rgb(68, 68, 68);
    background-color: aliceblue;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    font-weight: bold;
}

.list-card:hover {
    transform: scale(1.05);
}

.list-card li {
    margin: 2px;
}

.list-card img {
    width: 160px;
    height: 130px;
    border-radius: 5px;
    object-fit: fill;
}

.list-list {
    width: 95vw;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 5px;
    align-items: center;
    background-color: white;
    margin: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s;
    font-weight: bold;
}

.list-list:hover {
    transform: scale(1.04);
}

.list-list span, .list-list p {
    display: block;
}

.list-list li {
    display: flex;
    flex-basis: 12%;
    flex-direction: column;
}

.list-list li:nth-child(1):not(.action-box li) {
    min-width: 60px;
}

.list-list li:nth-child(2):not(.action-box li), .list-list li:nth-child(3) {
    min-width: 80px;
}

.list-list img {
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.list-list .action-box li .btn {
    width: 35px;
    margin: 0 5px;
    padding: 5px;
}

.list-list .action-box .btn img {
    width: 100%;
    height: 100%;
}

.action-box {
    display: flex;
    flex-direction: row;
}

.action-box .btn {
    width: 80px;
    height: 35px;
    font-size: 0.9em;
}

.paging-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paging-box button {
    cursor: pointer;
}

.modal-details {
    height: 100vh;
    width: 100vw;
    padding: 40px 20px 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(245, 254, 255);
    background: radial-gradient(
        circle,
        rgba(245, 254, 255, 1) 34%,
        rgba(191, 233, 255, 1) 100%
    );
    text-align: center;
}

.modal-details .btn-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 47, 255, 0.65);
    font-size: 25px;
}

.modal-details .btn-close:hover {
    background-color: rgba(0, 2, 146, 0.5);
}

.modal-details img {
    background-color: blue;
    height: 42vh;
    width: 42vh;
    border-radius: 20px;
    box-shadow: 0 0 8px 1px black;
}

.rate-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-box .btn {
    height: 35px;
    width: 35px;
    font-size: 22px;
    font-weight: bold;
}

.btn-rate {
    background-color: rgba(0, 0, 155, 0.450);
}

.btn-rate:hover {
    background-color: rgba(0, 0, 155, 0.650);
}

.rate-box p {
    font-size: 22px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.774);
}

.hidden {
    display: none;
    visibility: hidden;
}

@media screen and (min-width: 480px) {
    .price-box {
        justify-content: initial;
    }
    .list-card img {
        width: 200px;
        height: 160px;
    }
    .naming-box {
        width: 250px;
    }

    .price-box {
        width: 250px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 565px) {
    .naming-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .naming-box.model-container {
        justify-content: flex-end;
    }
}
